*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 95.2deg, rgb(211, 253, 169) 26.8%, rgb(231, 222, 222) 64% );
    min-height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    left: -80px;
}

.container .drop{
    position: relative;
    display: flex;
    background: rgb(229, 229, 221);
    align-items: center;
    justify-content: center;
    box-shadow: 25px 35px 20px  rgba(101, 101, 97, 0.05),
     25px 30px 30px rgba(196, 196, 193, 0.5),
    inset 20px 20px 20px  rgba(235, 235, 229, 0.06), 
    inset -20px -20px 25px rgba(251, 251, 249, 0.9) ;
    height: 480px;
    width: 480px;
    transition: 0.25;
    border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
   
}

.container .drop .signup{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 40px;
}

.container .drop .signup h2{
    font-size: 2.4em;
    position: relative;
    color: rgb(13, 132, 143);
}

.container .drop .signup form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container .drop .signup form .input-box{
    position: relative;
    width: 300px;
    box-shadow: 2px 5px 10px  rgba(160, 155, 155, 0.1),
    inset -2px -5px 10px rgb(200, 200, 196), 
    15px 15px 10px rgba(204, 204, 200, 0.05),
    15px 10px 15px  rgba(179, 179, 171, 0.25);
    border-radius: 25px;
}

.container .drop .signup form .input-box input{
    border: none;
    outline: none;
    background: transparent;
    height: 50px;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}

.container .drop .signup form .input-box input[type="submit"]{
   color: #fff;
   text-transform: uppercase;
   font-size: 1em;  
   cursor: pointer; 
   letter-spacing: 0.1em;
   font-weight: 500;
}

.container .drop .signup form .input-box.submit{
    background: rgb(241, 21, 87);
    width: 120px;
    transform: 0.5s ease;
}

.container .drop .signup form .input-box.submit:hover
{
    transform: scale(1.1);
}

.last{
    position: relative;
    display: flex;
    width: 60%;
    height: 20px;
    justify-content: space-around;
    align-items: center;
}


.last a{
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(6, 142, 165);
    font-weight: 600;   
}

.last h6{
    font-size: 0.75em;
    color: rgb(87, 85, 85);
}
